## WEBSTORM
#------------------------------
# idea folder
.idea/
# File-based project format
*.iws

## VS CODE
#------------------------------
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.history